body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input{
    padding: 15px ;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius:5px;
}


input[type=email], input[type=tel] {
    width: 77%;
}

#signup {
    display:flex;
    justify-content: center;
}
#signup_form {
    align-content:center;
    width: 40%;
    height:40%;
}

.name {
    display: inline-block;
    justify-content: space-between;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.clearfix {

}
.registerbtn {
    padding: 14px 20px;
    background-color: cornflowerblue;
}

.registerbtn, .signinbtn {
    float: left;
    width: 50%;
}

button:hover {
    opacity: 1;
}
